
<header class="p-5 collection-header">
  <div class="section-header text-center">
    	 <h1>{{ article.title }}</h1>
  </div>
</header>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      {% include 'breadcrumbs' %}
    </div> 
  </div> 
</div> 
<div class="page-width px-0 py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
            {{ article.content }}
       </div>
     </div>
  </div>
</div>
<div class="container mt-5">
  <div class="row">
    <div class="col-md-12">
      {% if section.settings.show_share_buttons %}
        {% include 'social-sharing', share_title: article.title, share_permalink: article.url, share_image: article.image %}
      {% endif %}

      {% schema %}
        {
          "name": {
            "en": "Posts",
            "de": "Posts",
            "fr": "Articles"
          },
          "settings": [
            {
              "type": "checkbox",
              "id": "blog_show_author",
              "label": {
                "en": "Show author",
                "de": "Autor anzeigen",
                "fr": "Afficher l'auteur"
              },
              "default": true
            },
            {
              "type": "checkbox",
              "id": "blog_show_date",
              "label": {
                "en": "Show date",
                "de": "Datum anzeigen",
                "fr": "Afficher la date"
              },
              "default": true
            },
            {
              "type": "checkbox",
              "id": "show_share_buttons",
              "label": {
                "en": "Show social sharing buttons",
                "de": "Buttons für Social Media anzeigen",
                "fr": "Afficher les boutons de partage sur les médias sociaux"
              },
              "default": true
            }
          ]
        }
      {% endschema %}
     </div>
   </div>
</div>